<table class="gradientBoxesWithOuterShadows" border=0 width=400 cellspacing=3 cellpadding=3 align=center><tr><td class="form_field">
  <%= f.label :name, "Name" %><br />
</td><td align=right>
   <%= f.autocomplete_field :name, autocomplete_product_name_products_path %>
</td></tr><tr>
<%= f.fields_for :quantities do |builder| %>
      <%= render :partial => 'quantities/form',
             :locals => {:form => f} %>
</tr></table><hr>
<% end %>

